.tiles{
    background-image: linear-gradient(to right, red, yellow);
    height: 100px;
    width: 100px;
}
.unfliped {
    margin: 1px;
    float: left;
}
.flipped{
    background-image: linear-gradient(to right, green, red);
    margin: 1px;
    float: left;
    
}

#allDiv{
    background-color: white;
    display: block;
}
